<%= link_to "Task", project_task_path(@project, @task) %>

<h1>Editing Comment</h1>

<%= render 'form', comment: @comment, task: @task, project: @project %>

<%= link_to 'Back', project_task_comments_path(@project, @task) %>
